{% extends 'blank_layout.html' %}
{% load static %}

{% block content%}
<h1>Movie List</h1>

<div class = "">

    <table>
        <tr><th>Title</th><th>Year</th><th>Review</th><th>Edit/Delete</th></tr>
        {%for movie_obj in movies %}
            <tr>
                <td><p>{{movie_obj.title | upper }}</p>
                </td>
                <td><p>{{ movie_obj.year }}</p></td>
                <td><p>{{movie_obj.summary}}</p></td>
                <td>
                    <a href="{% url 'edit' movie_obj.id%}">Edit</a>
                    <a href="{% url 'delete' movie_obj.id%}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>


{% endblock content %}